# Project Description

Hi! Welcome to the To-Do-List generator. I created a ToDoList class with different methods include adding events(add_event), deleting events(delete_event), changing events(change_event), showing things that happen on a particular date(plan), and showing the current calendar as a table(show_my_schedule). In order to build you to-do-list, you first need to initiate a ToDoList class object. Then you can start to build up your to-do-list using the methods! Remember that you can use the '?' method to look up the inputs for these method! Hope you enjoy my little project and thank you for you time! :)

## Project Code

If it makes sense for your project, you can have code and outputs here in the notebook as well.

In [23]:
import pandas as pd
from my_module.classes import ToDoList

In [24]:
ToDoList.purpose

'Tell you what to do.'

In [35]:
planner1.add_event?

In [25]:
planner1 = ToDoList()
planner1.add_event('April 25', 'Birthday')
planner1.add_event('March 9', 'COGS18 Test')
planner1.add_event('Decemebr 25', 'Christmas Day')

          Date          Event
1     April 25       Birthday
2      March 9    COGS18 Test
3  Decemebr 25  Christmas Day

In [26]:
planner1.delete_event('Decemebr 25', 'Christmas Day')

       Date        Event
1  April 25     Birthday
2   March 9  COGS18 Test

In [27]:
planner1.change_event('April 25', 'Birthday', 'April 24', 'Birthday')

       Date        Event
1  April 24     Birthday
2   March 9  COGS18 Test

In [28]:
planner1.add_event('July 3', "Reese's birthday")

       Date             Event
1  April 24          Birthday
2   March 9       COGS18 Test
3    July 3  Reese's birthday

In [29]:
planner1.change_event('July 3', "Reese's birthday",'July 5', "Reese's birthday")

       Date             Event
1  April 24          Birthday
2   March 9       COGS18 Test
3    July 5  Reese's birthday

In [30]:
planner1.add_event('July 5', "Party")

       Date             Event
1  April 24          Birthday
2   March 9       COGS18 Test
3    July 5  Reese's birthday
4    July 5             Party

In [31]:
planner1.plan('July 5')

     Date             Event
3  July 5  Reese's birthday
4  July 5             Party

In [32]:
planner1.plan('July 7')

'No event added for this date.'

In [33]:
!pytest

============================= test session starts ==============================
platform linux -- Python 3.9.5, pytest-6.2.5, py-1.10.0, pluggy-1.0.0
rootdir: /home/chz037/FinalProject_COGS18_WI22
plugins: anyio-3.2.1
collected 4 items

my_module/test_classes.py ....                                           [100%]

============================== 4 passed in 1.25s ===============================

#### Extra Credit (*optional*)

Replace all of this text with a brief explanation (~3 sentences) of: 
1. Your Python Background
2. How your project went above and beyond the requirements of the project and/or how you challenged yourself to learn something new with the final project

I learned a little bit coding in high school but almost forgot everthing when I entered college, so I have little to no knowledge about Python before I started this course.
The process of creating this project has been extremetly challenging for me, and I spent at least 20 hours on this project. One thing I challenged myself for this project is using pandas to creating my classes, and I almost went through all of the pandas directories and get to know a few of its method very well (although I only used a few, I tried a lot of them when I'm wirinting the code). As a result of using pandas in my class, I encountered so many problems, and I have to google a lot of ways to debug because in class we didn't learn panda very deep. I also spent a large amount of time refractoring my code. For example, I tried four or five ways to write the 'plan' method. I was trying to use if/else statement at first, and then I switched to for loop and while loop, and finally I realized methods in pandas might help me with this so I went with it.

References:
These are two of the website I used to look up pandas dataframe method. I only used the method but not the code from the websites.
https://pandas.pydata.org/docs/reference/frame.html
https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/
The TAs helped me with writing my codes too. One important hint I got from one of the TA is the use of enumerator, which is very helpful in my code.
In addition, I did search for ways to debug my code, but I did not use any code on the internet.